@model CloudAtlas.Models.ExternalLoginListViewModel
@using CloudAtlas.Models
@using Microsoft.Owin.Security
@{
    ViewData["Title"] = "Home Page";
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CloudAtlas - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/Content/Site.min.css" />
</head>
<body>
    <div class="bgimage">
        <div class="container">
            <div class="text">
                <h1>Cloud Atlas</h1>
                <span>The future of coding</span>
            </div>


            <div class="login-buttons">
                @{
                    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
                    if (loginProviders.Count() == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
                        {
                            @Html.AntiForgeryToken()
                            <div id="socialLoginList">
                                <p>
                                    @foreach (AuthenticationDescription p in loginProviders)
                                    {
                                        <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button>
                                    }
                                </p>
                            </div>
                        }
                    }
                }

            </div>
                <!--
                <a href="/Dashboard">
                    <img src="~/Content/images/facebook-social.png">
                </a>
                <img src="~/Content/images/google-social.png">
                <img src="~/Content/images/github-social.png">
                <!--->
            </div>
        </div>
    </div>
</body>
</html>