@model CloudAtlas.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Register";
}

<div class="settings-container">
    <h1>Register</h1>
    @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id ="settings-form", @name = "settings-form" }))
    {
        @Html.AntiForgeryToken()
    
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <p class="text-info">
            You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong> - Please enter a username and email for CloudAtlas.
        </p>
        <hr />
        <div class="settings-container">
            <div class="settings-form">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @id = "emailfield" })
                @Html.ValidationMessageFor(m => m.Email, "")
                @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @id = "namefield" })
                @Html.ValidationMessageFor(m => m.UserName, "")
                <input type="submit" id="save" name="save" value="Register" />

            </div>
        </div>
            }
        </div>
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('#settings-form').submit(function (e) {
                var email = $('#emailfield').val();
                var name = $('#namefield').val();
                if (email === null || email.match(/^ *$/) !== null) {
                    $('#save').css({ 'background-color': 'indianred' });
                    $('#save').val('No email entered!');
                    $('#emailfield').val("");
                    setTimeout(function () {
                        $('#save').val('Register');
                        $('#save').css({ 'background-color': '#293241' });
                    }, 1000);

                    e.preventDefault();
                    e.stopImmediatePropagation();
                    return false;
                }
                else if (name === null || name.match(/^ *$/) !== null)
                {
                    $('#save').css({ 'background-color': 'indianred' });
                    $('#save').val('No name entered!');
                    $('#namefield').val("");
                    setTimeout(function () {
                        $('#save').val('Register');
                        $('#save').css({ 'background-color': '#293241' });
                    }, 1000);

                    e.preventDefault();
                    e.stopImmediatePropagation();
                    return false;
                }
                else {
                    $('#save').val('Registering...');
                    $('#save').css({ 'background-color': '#27ae60' });
                    return true;
                }

            });
        });
    </script>
}
