@model CloudAtlas.Models.Project

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="create-project-container">
        <h2>Lets create something new</h2>

        <form class="create-project-form">

            <label for="name">Name of project</label>
            @Html.TextBoxFor(m => m.Name, htmlAttributes: new { name = "name" })


            <label for="colorScheme">Programming language</label>

            @Html.DropDownListFor(x => x.Type, ViewData["Type"] as List<SelectListItem>)

            

            <label for="description">Description</label>


            @Html.TextAreaFor(m => m.Description, 10, 40, htmlAttributes: new { name = "description", placeholder = "Simple description for the project" })

            <input type="submit" name="submit" value="Create">
        </form>
    </div>
}


<div>
    @Html.ActionLink("Back to List", "Index","Dashboard")
</div>


