@model CloudAtlas.Models.ProjectViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="project-container">
    <div class="main">
        <div id="editor" style="width: 100%; height:100%;">

        </div>
        @using (Html.BeginForm("SaveFile", "Project", FormMethod.Post, new { id = "ace-form" }))
        {
            <input type="hidden" id="hiddencode" name="hiddencode"  />
            <input type="hidden" id="hiddenid" name="hiddenid"  />
            <input type="hidden" id="hiddenproject" name="hiddenproject" value="@Model.Project.ID"/>
            <input type="hidden" id="hiddentype" name="hiddentype"/>
            <button type="submit">Save</button>
        }
        <p id="saved" style="display: none;">Saved!</p>
    </div>

    <div class="left-sidebar">
        <h3>@Model.Project.Name</h3>

        <div id="jstree">
            <!-- in this example the tree is populated from inline HTML -->
            <ul>
                <li class="jstree-open" id="node_1" data-jstree='{"folderid":"@Model.Root.ID"}'>
                    @Model.Root.Name
                    <ul>
                        @foreach(var fold in @Model.Folders)
                        {
                            <li data-jstree='{"folderid":"@fold.ID"}'>
                                @fold.Name
                            </li>
                        }
                        @foreach (var file in @Model.Files)
                        {
                            <li data-jstree='{"icon":"//jstree.com/tree.png", "fileid":"@file.ID"}'>
                                @(file.Name + file.Extension)
                            </li>
                        }
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="right-sidebar">
        <h3>Collaborators</h3>

        <div class="collaborators">
            <div class="user-img">
                <img src="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/1554494_10202480640245651_7477605474618443507_n.jpg?oh=32dfb7eb5346ac6762711cd7ed1c32af&oe=5980ABF8" alt="" />
            </div>

            <div class="user-img">
                <img src="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/1554494_10202480640245651_7477605474618443507_n.jpg?oh=32dfb7eb5346ac6762711cd7ed1c32af&oe=5980ABF8" alt="" />
            </div>

            <div class="user-img">
                <img src="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/1554494_10202480640245651_7477605474618443507_n.jpg?oh=32dfb7eb5346ac6762711cd7ed1c32af&oe=5980ABF8" alt="" />
            </div>

            <div class="user-img">
                <i class="fa fa-plus-circle fa-5x" aria-hidden="true"></i>
            </div>
        </div>

        <h3>Chat</h3>
    
        <div class="messages">
            <div class="message-chat">
                <ul id="discussion">

                </ul>
            </div>

            <div class="message-box">
                <input type="text" id="message" />
                <input type="button" id="sendmessage" value="Send" />
                <input type="hidden" id="displayname" value="@ViewData["UserEmail"]"/>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/.cpp");

    $(document).ready(function () {
        $('#message').keypress(function (e) {
            if (e.keyCode == 13)
                $('#sendmessage').click();
        });
    });

    $(function () {
        // 6 create an instance when the DOM is ready
        $('#jstree').jstree();
        // 7 bind to events triggered on the tree
        $('#jstree').on("changed.jstree", function (e, data) {
            if($("#jstree").jstree("get_selected", true)[0].data.jstree.hasOwnProperty('fileid'))
            {
                var fid = $("#jstree").jstree("get_selected", true)[0].data.jstree.fileid;
                $.ajax({
                    type: 'get',
                    dataType: 'json',
                    cache: false,
                    url: '/Project/OpenFile',
                    data: { id: fid },
                    success: function (response, textStatus, jqXHR) {
                        editor.setValue(response.content, 1);
                        $('#hiddenid').val(fid);
                        $('#hiddencode').val(response.content);
                        $('#hiddentype').val(response.type);
                        var syntax = "ace/mode/" + $('#hiddentype').val();
                        editor.getSession().setMode(syntax);
                    }
                });
            }
            else
            {
                console.log('folder');
            }

        });
        // 8 interact with the tree - either way is OK
        $('button').on('click', function () {
            /*$('#jstree').jstree(true).select_node('child_node_1');
            $('#jstree').jstree('select_node', 'child_node_1');
            $.jstree.reference('#jstree').select_node('child_node_1');*/
        });

        $('#ace-form').on('submit', function () {
            var form = $(this);
            $.ajax({
                url: form.attr('action'),
                data: form.serialize(),
                method: 'POST',
                success: function (data) {
                    $("#saved").show();
                    setTimeout(function () { $("#saved").fadeOut(); }, 1500);
                }
            });
            return false;
        });

    });
</script>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>

    <script>
        $(function () {
            // Reference the hub
            var chat = $.connection.chatHub;
            editor.$blockScrolling = Infinity;

            var ignore;

            chat.client.updateEditor = function (changedata) {
                ignore = true;
                editor.getSession().getDocument().applyDelta(changedata);
                ignore = false;
            };

            chat.client.chatMessage = function (name, message) {
                // Add the message to the page.
                $('#discussion').append('<li><strong>' + htmlEncode(name)
                    + '</strong>: ' + htmlEncode(message) + '</li>');
            };

            
            // Hub
            $.connection.hub.start().done(function () {

                chat.server.joinChat($('#hiddenproject').val());
                chat.server.joinFile($('#hiddenid').val());

                // Change is detected and editor is updated.
                editor.on("change", function (obj) {
                    if (!ignore)
                    {
                        chat.server.updateEditor(obj, $('#hiddenid').val());
                        $('#hiddencode').val(editor.getValue());
                    }
                });

                $('#sendmessage').click(function () {
                    // Call the Send method on the hub.
                    chat.server.chatMessage($('#displayname').val(), $('#message').val(), $('#hiddenproject').val());
                    // Clear text box and reset focus for next comment.
                    $('#message').val('').focus();
                });

            });
        });

        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }

    </script>
}
