@model CloudAtlas.Models.ProjectViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="project-container">
    <div class="main">
        <div id="editor" style="width: 100%; height:100%;">
        </div>
        <div>
            <input type="hidden" id="hiddencode" name="hiddencode" />
            <input type="hidden" id="hiddenid" name="hiddenid" />
            <input type="hidden" id="hiddenproject" name="hiddenproject" value="@Model.Project.ID" />
            <input type="hidden" id="hiddentype" name="hiddentype" />
            <input type="hidden" id="hiddentheme" name="hiddentheme" value="@Model.User.Theme"/>
        </div>
        @using (Html.BeginForm("Download", "Project"))
        {
            <label for="dltest">FileID</label>
            <input id="dltest" name="dltest" type="number" />

            <div>
                <button class="btn btn-default">Submit</button>
            </div>
        }

    </div>

    <div class="left-sidebar">
        <h3>@Model.Project.Name</h3>

        <div id="jstree">
            <!-- in this example the tree is populated from inline HTML -->
            <ul>
                <li class="jstree-open" id="node_1" data-jstree='{"folderid":"@Model.Root.ID"}'>
                    @Model.Root.Name
                    <ul>
                        @foreach(var fold in @Model.Folders)
                        {
                            <li data-jstree='{"folderid":"@fold.ID"}'>
                                @fold.Name
                            </li>
                        }
                        @foreach (var file in @Model.Files)
                        {
                            <li data-jstree='{"icon":"//jstree.com/tree.png", "fileid":"@file.ID"}'>
                                @(file.Name + file.Extension)
                            </li>
                        }
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="right-sidebar">
        <h3>Collaborators</h3>

        <div class="collaborators">

            
            
        </div>

        @using (Html.BeginForm("Invite", "Project", FormMethod.Post, htmlAttributes: new { id = "inviteForm" }))
        {
            @Html.TextBox("UserEmail", null, htmlAttributes: new { id = "searchInvite" })
            <!--<input type="submit" id="submitInvite" />-->
            <input type="hidden" id="hiddenproject" name="hiddenproject" value="@Model.Project.ID" />
            <input type="submit" />
        }

        <h3>Chat</h3>
    
        <div class="messages">
            <div class="message-chat">
                <ul id="discussion">

                </ul>
            </div>

            <div class="message-box">
                <input type="text" id="message" />
                <input type="button" id="sendmessage" value="Send" />
                <input type="hidden" id="displayname" value="@Model.User.UserName"/>
            </div>
        </div>
    </div>
</div>



@section scripts {
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>

    <script>
        $(function () {

            // Ace functions
            var editor = ace.edit("editor");
            editor.setShowPrintMargin(false);
            var theme = "ace/theme/" + $('#hiddentheme').val();
            editor.setTheme(theme);
            editor.getSession().setMode("ace/mode/c_cpp");

            $('#ace-form').on('submit', function () {
                var form = $(this);
                $.ajax({
                    url: form.attr('action'),
                    data: form.serialize(),
                    method: 'POST',
                    success: function (data) {
                        $("#saved").show();
                        setTimeout(function () { $("#saved").fadeOut(); }, 1500);
                    }
                });
                return false;
            });

            // Hub functions
            var chat = $.connection.chatHub;

            editor.$blockScrolling = Infinity;

            var ignore;

            chat.client.updateEditor = function (changedata) {
                ignore = true;
                editor.getSession().getDocument().applyDelta(changedata);
                ignore = false;
                var line = Number(changedata.start.row) + 1;
                var userediting = "#editingline" + "Siggi";
                $(userediting).stop(false).text("Line: " + line).show().animate({ opacity: '100' }).fadeOut(1000);
            };

            chat.client.chatMessage = function (name, message) {
                // Add the message to the page.
                $('#discussion').append('<li><strong>' + htmlEncode(name)
                    + '</strong>: ' + htmlEncode(message) + '</li>');
            };


            // Hub
            $.connection.hub.start().done(function () {

                chat.server.joinChat($('#hiddenproject').val());

                // Change is detected and editor is updated.
                editor.on("change", function (obj) {
                    if (!ignore) {
                        $('#hiddencode').val(editor.getValue());

                        $.ajax({
                            url: '/Project/SaveFileAuto',
                            dataType: 'json',
                            data: { code: editor.getValue(), id: $('#hiddenid').val(), projectid: $('#hiddenproject').val() },
                            method: 'POST'
                        });
                        chat.server.updateEditor(obj, $('#hiddenid').val());
                    }
                });

                $('#sendmessage').click(function () {
                    // Call the Send method on the hub.
                    chat.server.chatMessage($('#displayname').val(), $('#message').val(), $('#hiddenproject').val());
                    // Clear text box and reset focus for next comment.
                    $('#message').val('').focus();
                });

            });


            function htmlEncode(value) {
                var encodedValue = $('<div />').text(value).html();
                return encodedValue;
            }

            $('#message').keypress(function (e) {
                if (e.keyCode == 13)
                    $('#sendmessage').click();
            });

            // JStree functions
            $('#jstree').jstree();

            $('#jstree').on("changed.jstree", function (e, data) {
                if ($("#jstree").jstree("get_selected", true)[0].data.jstree.hasOwnProperty('fileid')) {
                    var fid = $("#jstree").jstree("get_selected", true)[0].data.jstree.fileid;
                    $.ajax({
                        type: 'get',
                        dataType: 'json',
                        cache: false,
                        url: '/Project/OpenFile',
                        data: { id: fid },
                        success: function (response, textStatus, jqXHR) {
                            chat.server.switchFile($('#hiddenid').val(), fid);
                            $('#hiddenid').val(fid);
                            ignore = true;
                            editor.setValue(response.content, 1);
                            $('#hiddencode').val(response.content);
                            $('#hiddentype').val(response.type);
                            var syntax = "ace/mode/" + $('#hiddentype').val();
                            editor.getSession().setMode(syntax);
                            ignore = false;
                        }
                    });
                }
                else {
                    console.log('folder');
                }

            });


            $("#inviteForm").on('submit', function () {
                var form = $(this);
                $.ajax({
                    url: form.attr('action'),
                    data: form.serialize(),
                    method: 'POST'
                });

                return false;
            });
            

            $("#searchInvite").autocomplete({
                source: '@Url.Action("Search", "Project")'
            });

        });

    </script>
}
